/* CSS Document For Screens */
@import url('https://fonts.googleapis.com/css?family=Montserrat:700&display=swap');


body {font-family: 'Montserrat', 
sans-serif; background: white; 
color: #000; font-size: 3em; 
height: 100vh; margin: 0 auto !important;
float: none !important; 
position: relative; 
padding: 0 50px 0 50px;  
}

#page { max-width: 1200px; margin: 0 auto; position: relative; }

div.box { background: #44ff87; 
	color: #000; height: 20px; 
	line-height: 1px; left: 15%; 
	margin: -50px 0 0 -100px; 
	position: absolute; top: 40%; 
	text-align: center; width: 500px; 
}
div.box a { text-decoration: none; color: #000; font-size: 1em;}
div.box a:hover { transition: color .5s; color: #44ff87; 
}
div.box:hover { transition: background-color .5s; background-color: #000; }
section.main { font-size: .7em; padding-top: 310px; margin-left: 50%; 
}
nav { background-color: white; 
	  position: absolute;
	  top: 0px; left: 100px;
	  padding: 50px 0 0 0;
	  width: 100%; 
 }

ul { list-style-type: none; 
	float: right; top: 0;
	margin: 0; 
	overflow: hidden; 
	background-color: white;
	width: 100%;
	padding: 0 5px 0 5px; 
}
li { display: inline-block; }
li a { display: block; color: #000; text-align: center; float: right; font-size: .4em; padding: 14px 16px; text-decoration: none; }
li a:hover { transition: color .5s; color: #44ff87; }
li a:active {color: #44ff87;}

/* Other Nav */
nav { 
	background-color: white;
	text-align: right;
	position: absolute;
	top: 0px; left: 0px;
	padding: 10px 20px 0 0;
	width: 100%;
	
}

nav ul { list-style: none; margin: 0; padding: 0; }

nav ul li:hover > ul { display: block; }


/* Top-level*/

nav > ul { padding-left: 775px; }


@media screen and ( max-width: 1000px ){
	section.main { font-size: .7em; 
		position: absolute; padding-right: 50px;
		padding-top: 310px;
		margin-left: 30%;
	}
	nav > ul { padding-left: 10px; }

}

/* Section */
.section {
  clear: both;
  margin: 0px;
  padding: 0px;
}
/* Column */
.col {
  background: #eee;
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0 !important; }

/* Row */
.row:before,
.row:after { content:""; display:table; }
.row:after { clear:both;}
.row { zoom:1; /* For IE 6/7 */ }

/* Grid */
.grid_1_of_6{ width: 15.333% }
.grid_2_of_6{ width: 32.267% }
.grid_3_of_6{ width: 49.2% }
.grid_4_of_6{ width: 66.133% }
.grid_5_of_6{ width: 83.067% }
.grid_6_of_6{ width: 100% }

/* Full Width below 768 pixels */
@media only screen and (max-width: 768px) {
  .col {  margin: 1% 0 1% 0%; }
  [class*='grid_'] { width: 100%; }
}

@media screen and ( max-width: 825px ){
	section.main { font-size: .5em; padding-top: 310px; 
		padding-right: 50px; margin-left: 5%; width: 75% }
	nav > ul { padding-left: 10px; }
}

@media screen and (max-width: 760px){
	section.main { font-size: .5em; padding-right: 50px; padding-top: 310px;}
	nav > ul { padding-left: 10px; }
}

@media screen and (max-width: 415px){
	div.box { width: 300px; left: 20%; height: 10px; line-height: .5px; }
	div.box a { font-size: .5em; }
	section.main { padding-top: 125px; font-size: .4em; }
	section.main i.fab i.fa-dribbble { font-size: .2em; }
	nav { font-size: .7em; }
}






