/* CSS Document For Screens */
@import url('https://fonts.googleapis.com/css?family=Montserrat:700&display=swap');


body {font-family: 'Montserrat', 
sans-serif; background: white; 
color: #000; font-size: 3em; 
height: 100vh; margin: 0 auto !important;
float: none !important; 
position: relative; 
padding: 0 50px 0 50px;  
}

#page { max-width: 1200px; margin: 0 auto; position: relative; }

div.box { background: #44ff87; 
	color: #000; height: 20px; 
	line-height: 1px; left: 15%; 
	margin: -50px 0 0 -100px; 
	position: absolute; top: 40%; 
	text-align: center; width: 500px; 
}
div.box a { text-decoration: none; color: #000; font-size: 1em;}
div.box a:hover { transition: color .5s; color: #44ff87; 
}
div.box:hover { transition: background-color .5s; background-color: #000; }
section.main { font-size: .7em; padding-top: 310px; margin-left: 50%; 
}

img { height: 300px; width: 300px; padding-top: 320px; padding-bottom: 0px; padding-right: 0px; margin-bottom: 0px; padding-left: 150px; float: left;}
nav { background-color: white; 
	  position: absolute;
	  top: 0px; left: 100px;
	  padding: 50px 0 0 0;
	  width: 100%; 
 }

ul { list-style-type: none; 
	float: right; top: 0;
	margin: 0; 
	overflow: hidden; 
	background-color: white;
	width: 100%;
	padding: 0 5px 0 5px; 
}
li { display: inline-block; }
li a { display: block; color: #000; text-align: center; float: right; font-size: .4em; padding: 14px 16px; text-decoration: none; }
li a:hover { transition: color .5s; color: #44ff87; }
li a:active {color: #44ff87;}

/* Other Nav */
nav { 
	background-color: white;
	text-align: right;
	position: absolute;
	top: 0px; left: 0px;
	padding: 10px 0 0 0;
	width: 100%;
	
}

nav ul { list-style: none; margin: 0; padding: 0; }

nav ul li:hover > ul { display: block; }


/* Top-level*/

nav > ul { padding-left: 775px; }


/*	section.main { font-size: .7em; 
		position: absolute; padding-right: 50px;
		padding-top: 310px;
		margin-left: 30%;
	}
	nav > ul { padding-left: 10px; }

}

@media screen and ( max-width: 825px ){
	section.main { font-size: .5em; padding-top: 310px; 
		padding-right: 50px; margin-left: 5%; width: 75% }
	nav > ul { padding-left: 10px; }
}

@media screen and (max-width: 760px){
	section.main { font-size: .5em; padding-right: 50px; padding-top: 310px;}
	nav > ul { padding-left: 10px; }
}

@media screen and (max-width: 415px){
	div.box { width: 300px; left: 20%; height: 10px; line-height: .5px; }
	div.box a { font-size: .5em; }
	section.main { padding-top: 125px; font-size: .4em; }
	section.main i.fab i.fa-dribbble { font-size: .2em; }
	nav { font-size: .7em; }
}*/


/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

div.box {top: 250px;}
nav {font-size: 1.6em;}
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

div.box {top: 250px;}
nav {font-size: 1.6em;}
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

div.box {top: 250px;}
nav {font-size: 1.6em;}
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

div.box {top: 250px;}
nav {font-size: 1.6em;}
section.main i.fa-dribbble { size: 100px; }
}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

div.box {top: 250px;}
nav {font-size: 1.6em;}
i.fa-dribbble { size: 100px; }
}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}



